{% extends 'BaseHeader.html' %}
{% block content %}
    <div class="home_content">
        <div class="intro"><h2 class="contents">Preparing you for success</h2>
            <br>
            <br>
            <h3><p class="contents">
We help Institutes of higher education to accomplish their goals of creating skilled, confident and employable students.

We train your students to crack companies like Amazon, Walmart, Google and Facebook. We do short-term on-campus or online workshops for Interview Preparation of your students by handpicked Industry mentors from prestigious organisations and tailor the program in accordance with your need.
            </p></h3>
        </div>
        <div class="intro"><h2 class="contents">Mentors speak</h2>
            <br>
            <br>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/Zo62S0ulqhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="testimonials">
        <div class="record">
            <h2>Gourab</h2>
            <p>Programming Pathshala helped me alot. Previously I wasn't good at data structures and algorithms but they taught me from the basics and it help me alot.</p>
        </div>
        <div class="record">
            <img class="photos" src="../static/Pic.jpeg">
            <h2>Gourab</h2>
            <p>Programming Pathshala helped me alot. Previously I wasn't good at data structures and algorithms but they taught me from the basics and it help me alot.</p>
        </div>
        <div class="record">
            <h2>Gourab</h2>
            <p>Programming Pathshala helped me alot. Previously I wasn't good at data structures and algorithms but they taught me from the basics and it help me alot.</p>
        </div>
    </div>
{% endblock %}
